<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">
      
   <!-- 검사 URL -->
    	<http auto-config="true" use-expressions="true">
    	<intercept-url pattern="/member/signin" access="permitAll" />
        <intercept-url pattern="/member/signup" access="permitAll" />
        
		<intercept-url pattern="/member/checkId" access="permitAll" />
        <intercept-url pattern="/member/checkNickname" access="permitAll" />
        <intercept-url pattern="/member/sms" access="permitAll" />
        
        
        <intercept-url pattern="/member/idInqury" access="permitAll" />
        <intercept-url pattern="/member/idInquryList" access="permitAll" />
        <intercept-url pattern="/member/checkNamePhoneNumber" access="permitAll" />
        <intercept-url pattern="/member/pwInqury" access="permitAll" />
        <intercept-url pattern="/member/pwInquryCheck" access="permitAll" />
        <intercept-url pattern="/member/pwInquryModify" access="permitAll" />
        <intercept-url pattern="/member/pwInqurySuccess" access="permitAll" />        
        
        <intercept-url pattern="/shop/list" access="permitAll" />        
        <intercept-url pattern="/common/error" access="permitAll" />        
        
        
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/member/**" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')" />
        <intercept-url pattern="/shop/**" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')" />
        <intercept-url pattern="/admin/**" access="hasRole('ADMIN')" />
        

        <intercept-url pattern="/board/writeView" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
        <intercept-url pattern="/board/write" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />        
        <intercept-url pattern="/board/**" access="permitAll" />
        
        <form-login login-page="/member/signin"
                    default-target-url="/"
                    authentication-failure-url="/member/signin?error"
                    username-parameter="userId"
                    password-parameter="userPassword" />
        
         <logout logout-url="/logout"
                logout-success-url="/" /> 
                
      <access-denied-handler error-page="/member/accessDenied" />
         <csrf disabled="true"></csrf>
    	 
    </http>
    
     
     
     <beans:bean id="userDetailsService" class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
        <beans:property name="dataSource" ref="dataSource"/><!-- root.xml에 있는 커넥션풀에서 datasource를 받아오는것 -->
    </beans:bean> 
    
    <beans:bean id="customNoOpPasswordEncoder" class="edu.bit.hbly.security.CustomNoOpPasswordEncoder"></beans:bean>
    <beans:bean id="bcryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
    <beans:bean id="customUserDetailsService" class="edu.bit.hbly.security.CustomUserDetailsService"></beans:bean>
    
    
     
    <!--  provider  -->
       <authentication-manager>
        <authentication-provider user-service-ref="customUserDetailsService">
        <password-encoder ref="bcryptPasswordEncoder"/>
        </authentication-provider>
    </authentication-manager>
    
    


</beans:beans>