@charset "UTF-8";

/* signin _ jsp */
.hero-capd h1{
	color:black;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
}
.hero-capd h2{
	color: #fff;
    font-size: 70px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1;
}
}
.hero-capd h3{
	color:black;
    font-size: 20px;
    font-weight:400;
    text-transform: uppercase;
    line-height: 1;
}
.header-btn{
    background: #ff1313;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    padding: 27px 44px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    border-radius: 0px;
    line-height: 1;
    border: 2px solid #fff;
    -moz-user-select: none;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0;
}

.hero-capd a:hover{
 color: black;
 text-decoration: none;	
}

/* header_jsp / home_jsp - logo */

.hero-d h1 {
 font-size: 60px;
 font-weight: 700;
 margin-bottom: 14px;
 color: #fff;
 line-height: 1.2;
 font-family: "Oswald", sans-serif;
 text-transform: uppercase;
}

.hero-d h1 > a,p>a{
 color: #fff;	
}
.hero-d h1 > a:hover,p>a:hover{
 color: #fff;
 text-decoration: none;
}

/*id/pw*/
.daun a {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
}


/*table response*/
/* line 321, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table-wrap {
  overflow-x: scroll;
}
/* line 325, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table {
  background: #f9f9ff;
  padding: 15px 0px 30px 0px;
  min-width: 800px;
}
/* line 329, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table .serial {
  width: 11.83%;
  padding-left: 30px;
}

/* line 333, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table .country {
  width: 28.07%;
}

/* line 336, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table .visit {
  width: 19.74%;
}

/* line 339, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table .percentage {
  width: 40.36%;
  padding-right: 50px;
}

/* line 343, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table .table-head {
  display: flex;
}

/* line 345, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table .table-head .serial,
.progress-table .table-head .country,
.progress-table .table-head .visit,
.progress-table .table-head .percentage {
  color: #415094;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 500;
}

/* line 355, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table .table-row {
  padding: 15px 0;
  border-top: 1px solid #edf3fd;
  display: flex;
}

/* line 359, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table .table-row .serial,
.progress-table .table-row .country,
.progress-table .table-row .visit,
.progress-table .table-row .percentage {
  display: flex;
  align-items: center;
}

/* line 367, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table .table-row .country img {
  margin-right: 15px;
}

/* line 372, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table .table-row .percentage .progress {
  width: 80%;
  border-radius: 0px;
  background: transparent;
}

/* line 376, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar {
  height: 5px;
  line-height: 5px;
}

/* line 379, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-1 {
  background-color: #6382e6;
}

/* line 382, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-2 {
  background-color: #e66686;
}

/* line 385, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-3 {
  background-color: #f09359;
}

/* line 388, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-4 {
  background-color: #73fbaf;
}

/* line 391, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-5 {
  background-color: #73fbaf;
}

/* line 394, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-6 {
  background-color: #6382e6;
}

/* line 397, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-7 {
  background-color: #a367e7;
}

/* line 400, C:/Users/HP/Desktop/July-HTML/292 Health coach/assets/scss/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-8 {
  background-color: #e66686;
}